
.footer {
    background-color: var(--primary-color);
    display: flex; 
    height: 50rem;
}

.footer_image, .footer_schedule {
    flex: 1; 
}

.footer_image{
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}

.footer_schedule{
    color: var(--text-secondary-color);
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_schedule .footer_schedule-item .title {
    color: var(--text-secondary-color);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer_schedule .normal-text{
    color: var(--text-secondary-color);

}

.footer_schedule .contact .title{
    color: var(--text-secondary-color);
}