
.footer {
    background-color: var(--primary-color);
    display: flex; 
}

.footer_image, .footer_schedule {
    flex: 1; 
}

.footer_image{
    width: 600px;
height: 346.809px;
flex-shrink: 0;
}

.footer_schedule{
    color: var(--text-secondary-color);
}