header.header{
    height: 140px;

}
header.header section.header__contact{
    background-color: var(--primary-color);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
header.header section.header__contact .header__contact-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
/* header.header section.header__contact:nth-child(3){
    transform: scale(.5);
} */
header.header section.header__contact .header__contact-item{
    color: var(--text-secondary-color);
}