.index-page__aboutus{
    margin-top: 8rem;
    padding: 0 var(--secondary-page-margin) ;
    text-align: center;

}
.index-page__aboutus .title{
    margin-bottom: 2.5rem;
}


.location {
    background-color: #E6E9EC;
    display: flex;
}

.location_item{
    width: 50%;
}

.location_item2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 

}